<form asp-action="Index">
    <label>Person :</label>
    <input type="text" name="PersonID" placeholder="Enter ID"/>
    <input type="text" name="FullName" placeholder="Enter Full Name" />
    <input type="submit" value="Save"/>
</form>
<h1>@ViewBag.thongBao</h1>