@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index">
    <Label>Nhập họ tên :</Label>
    <input type="text" name="FullName">
    <Label>Nhập địa chỉ: </Label>
    <input type="text" name="Address">
    <input type="submit" value="Gửi dữ liệu">
</form>
<h1>@ViewBag.Message</h1>